.icon {
    width: 42px; 
    height: 42px;
}

.navbar-nav {
    margin: auto;
}
.nav-item {
    display: inline-flex;
    font-size:large;
    margin-left: 1rem;
}

fa-icon {
    margin: auto;
}

button{
    margin-left: 1rem;
}